<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>quara post</h1>
<%for (post of posts){%>
    <div class="user"> 
        <h3 class="user">@ <%= post.username%> </h3>
        <h3 class="content"><%= post.content%> </h3><br>
        <a href="http://localhost:8080/posts/<%= post.id %>">see in detail</a>
        <a href="http://localhost:8080/posts/<%= post.id %>">edit</a>
    </div>
    <% } %>
<br>
<br>
<a href="http://localhost:8080/posts/new">create a new post</a>
</body>
</html>